# Exemple de configuration d'environnement pour loisirs-location

APP_ENV=dev
APP_SECRET=changeme
APP_SHARE_DIR=var/share
DEFAULT_URI=http://localhost

POSTGRES_DB=loisirs-location
POSTGRES_USER=loisirs
POSTGRES_PASSWORD=loisirs123
DATABASE_URL="postgresql://loisirs:loisirs123@database:5432/loisirs-location?serverVersion=16&charset=utf8"

MAILER_DSN=null://null
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
