###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> uploads ###
/public/images/vans/*.jpg
/public/images/vans/*.jpeg
/public/images/vans/*.png
/public/images/vans/*.webp
/public/images/vans/gallery/*.jpg
/public/images/vans/gallery/*.jpeg
/public/images/vans/gallery/*.png
/public/images/vans/gallery/*.webp
/public/uploads/blog
/uploads/quotes
###< uploads ###
