<h1 style="text-align: center;">Politique de confidentialit&eacute;</h1>
<p>Teeest</p>
<p><em>Italic</em></p>
<p><span style="text-decoration: underline;">Soulign&eacute;</span></p>
<p><strong>Bold</strong></p>
<ul>
<li>Liste &agrave; puce</li>
<li>2</li>
<li>3</li>
</ul>
<ol>
<li>Liste</li>
<li>num&eacute;rot&eacute;e</li>
</ol>
<p style="padding-left: 80px;">Augmentation du retrait</p>
<p>Pr&eacute;format&eacute;<br><a title="Lien vers fb" href="https://facebook.com" target="_blank" rel="noopener">Lien vers facebook</a><br><img style="float: left;" src="uploads/pages/6a2bb92c725d8.jpg" alt="" width="800" height="500"><br><br><img src="uploads/pages/6a2bc7a91b891.jpg" alt="" width="1159" height="869"><br>ensuite l&agrave; normal</p>